.hide-in-large {
  display: none;
}

#element {
  font-size: 20px;
  font-weight: bold;
}

.rules {
  background-color: #f1edc1;
  border: 7px solid;
  border-image: linear-gradient(
    30deg,
    #faf282 0%,
    #a06b21 50%,
    #d8bf5c 100%,
    #a36d25
  );
  border-image-slice: 1;
}

.ticketBox {
  cursor: pointer;
  text-align: center;
  height: 6vh;
  line-height: 6vh;
  background-color: #f1edc1;
  border: 7px solid;
  border-image: linear-gradient(
    180deg,
    #faf282 0%,
    #a06b21 50%,
    #d8bf5c 100%,
    #a36d25
  );
  border-image-slice: 1;
}



.box {
  font-size: 14px;
  font-family: Dotted;
  border: 2px solid;
  border-image: linear-gradient(
    30deg,
    #faf282 0%,
    #a06b21 50%,
    #d8bf5c 100%,
    #a36d25
  );
  border-image-slice: 1;
  text-align: center;
  color: white;
  height: 5vh;
  line-height: 6vh;
  background-color: maroon;
}

#number {
  font-size: 5vh;
}

#big-container,
#big-container:before {
  border: 6px solid;

  border-image: linear-gradient(
    30deg,
    #faf282 0%,
    #a06b21 50%,
    #d8bf5c 100%,
    #a36d25
  );
  border-image-slice: 1;
}

#big-container {
  position: relative;
  border-width: 6px;
}

#big-container:before {
  content: " ";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-width: 3px;
}
.dotted {
  font-family: Dotted;
}

@media screen and (max-width: 768px) {
  .hide-in-large {
    display: inline-flex;
  }

  .hide-in-small {
    display: none;
  }

  #o {
    font-size: 10px;
    margin-left: -3.8rem !important;
  }

  #a {
    font-size: 9px;
    margin-left: -4rem !important;
  }

  .box {
    font-size: 12px;
  }

  #block {
    margin-right: -4rem;
  }
}
