#blur {
  filter: blur(6px);
}

.roll {
  text-align: center;
  /* font-family: "Dotted"; */
  border: 6px solid;
  border-image: linear-gradient(
    30deg,
    #faf282 0%,
    #a06b21 50%,
    #d8bf5c 100%,
    #a36d25
  );
  border-image-slice: 1;
}

@media screen and (max-width: 768px) {
  .roll {
    text-align: center;
    font-family: "Dotted";
    border: 6px solid;
    border-image: linear-gradient(
      30deg,
      #faf282 0%,
      #a06b21 50%,
      #d8bf5c 100%,
      #a36d25
    );
    border-image-slice: 1;
    width: fit-content;
    height: fit-content;
  }
}
