.hide-in-large {
  display: none;
}

#inner-spin {
  height: 12vh;
  width: 100%;
  line-height: 12vh;
  text-align: center;
  color: orange;
  background-color: black;
  font-family: Dotted;
  font-size: 5rem;
  z-index: -1;

}

.roll {
  text-align: center;
  z-index: 2;
  height: 14.8vh;
  width: 100%;
  border: 10px solid;
  border-image: linear-gradient(30deg,
      #faf282 0%,
      #a06b21 50%,
      #d8bf5c 100%,
      #a36d25);
  border-image-slice: 1;

}


@media screen and (max-width: 768px) {
  .hide-in-large {
    display: inline-flex;

  }

  .hide-in-small {
    display: none;
  }

  #o {
    font-size: 10px;
    margin-left: -3.8rem !important;
  }

  #a {
    font-size: 9px;
    margin-left: -4rem !important;
  }

  .box {
    font-size: 12px;
  }

  #block {
    margin-right: -4rem;
  }
}